<div class="row">
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Переговорка 323</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://i.pinimg.com/236x/2a/7a/72/2a7a72a3c05baa332db631fd234fcd1b--project-projects.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          переговорка большая на 12 человек
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="bron(323)">Забронировать</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Переговорка 301</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://i.pinimg.com/236x/2a/7a/72/2a7a72a3c05baa332db631fd234fcd1b--project-projects.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          МАленькая переговорка на 6 человек
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="bron(301)">Забронировать</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
