<div class="container">
  <div style="width: 65%; float: left">
    <div class="row">

      <!-- -------------------------------------------------------------------- -->
      <div class="col-md-6">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>«Альфредо» 390 г</mat-card-title>
            <mat-card-subtitle>370 ₽</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://www.delivery-club.ru/media/cms/relation_product/19838/300994392_m650.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Вид пасты: пенне, спагетти или тальятелле на выбор. С курицей и брокколи в сливочном соусе
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addBacket('Паста «Альфредо»', 370)">Заказать</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <!-- -------------------------------------------------------------------- -->

      <div class="col-md-6">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>«Альфредо» 390 г</mat-card-title>
            <mat-card-subtitle>370 ₽</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://www.delivery-club.ru/media/cms/relation_product/19838/300994392_m650.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Вид пасты: пенне, спагетти или тальятелле на выбор. С курицей и брокколи в сливочном соусе
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addBacket('Паста «Альфредо»', 370)">Заказать</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <!-- -------------------------------------------------------------------- -->
      <div class="col-md-6" style="margin-top: 2%">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>«Альфредо» 390 г</mat-card-title>
            <mat-card-subtitle>370 ₽</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://www.delivery-club.ru/media/cms/relation_product/19838/300994392_m650.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Вид пасты: пенне, спагетти или тальятелле на выбор. С курицей и брокколи в сливочном соусе
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addBacket('Паста «Альфредо»', 370)">Заказать</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <!-- -------------------------------------------------------------------- -->
      <div class="col-md-6" style="margin-top: 2%">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>«Альфредо» 390 г</mat-card-title>
            <mat-card-subtitle>370 ₽</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://www.delivery-club.ru/media/cms/relation_product/19838/300994392_m650.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Вид пасты: пенне, спагетти или тальятелле на выбор. С курицей и брокколи в сливочном соусе
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addBacket('Паста «Альфредо»', 370)">Заказать</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>

  <div style="margin-left: 68%">
  <div class="row">
    <div class="col-md-12" style="width: 98%; background-color: #F2F2F2">
      <h1 style="float: left">Мой заказ</h1>
      <button  style="margin-top: 3%; margin-left: 2%" mat-icon-button color="black" (click)="deleteAll()">
        <mat-icon style ="font-size: 36px;">delete</mat-icon>
      </button>
      <div style="margin-top: 5%">
        <p *ngIf="backet.length == 0">Выберите блюда и закажите</p>

        <ul class="heroes">
          <li *ngFor="let hero of backet">{{hero._name}} {{hero._price}} ₽               <button class="tab" mat-icon-button color="primary" (click)="deleteProduct(hero._id, hero._price)">
            <mat-icon class="mat-10">clear</mat-icon>
          </button></li>
        </ul>
      </div>
      <div style="margin-top: 10%">
        <p>Итого: {{count}} ₽</p>
      </div>
    </div>
  </div>
  </div>
</div>
