<p>Просмотр маршрутного такси в реальном времени на карте</p>
<!-- <a href="https://www.google.ru/maps/place/%D0%9B%D0%90%D0%9D%D0%98%D0%A2+%D0%A1%D0%B5%D1%82%D0%B5%D0%B2%D0%B0%D1%8F+%D0%90%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D0%B8%D1%8F/@55.8111531,37.6524384,13z/data=!4m8!1m2!2m1!1z0JvQsNC90LjRgg!3m4!1s0x46b54a83e4d0f21d:0xb13ece961ad46d51!8m2!3d55.768725!4d37.672514"><button onlick="return false;">Посмотреть расположение маршрутки</button></a>-->
<a href="https://transport.lanit.ru/"><button onlick="return false;">Посмотреть расписание</button></a>
<div #map id="map"></div>


