<div class="content" role="main">

  <div class="card-container">
    <a style="height: 100%; width: 100%" class="card" rel="noopener" routerLink="/dining">
      <mat-icon color="primary" style="font-size: 36px; margin-right: 5%; margin-bottom: 1%">restaurant</mat-icon>
      <span>Столовая</span>

    </a>

    <a style="height: 100%; width: 100%" class="card" rel="noopener" routerLink="/routeTaxi">
      <mat-icon color="primary" style="font-size: 36px; margin-right: 5%; margin-bottom: 1%">airport_shuttle
      </mat-icon>

      <span>Маршрутки</span>


    </a>

    <a style="height: 100%; width: 100%" class="card" rel="noopener" href="tg://resolve?domain=PingPongCalendarBot">
      <mat-icon color="primary" style="font-size: 36px; margin-right: 5%; margin-bottom: 1%">sports_cricket</mat-icon>

      <span>Теннис</span>

    </a>
    <a style="height: 100%; width: 100%" class="card" rel="noopener" routerLink="/driveFriend">
      <mat-icon color="primary" style="font-size: 36px; margin-right: 5%; margin-bottom: 1%">directions_car</mat-icon>

      <span>Подвези друга</span>

    </a>

    <a style="height: 100%; width: 100%" class="card" rel="noopener" routerLink="/sayRoom">
      <mat-icon color="primary" style="font-size: 36px; margin-right: 5%; margin-bottom: 1%">record_voice_over
      </mat-icon>

      <span>Переговорки</span>


    </a>

  </div>
</div>
